<link rel="stylesheet" type="text/css" href="/public/css/home.css">

  <h1 id= "title">Find an Activity to do! {{Position}}</h1>

<br>

<div>
  <table id="activityTable">
    <tr>
      <th>Activity Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Date</th>
    </tr>

    {{#each all}}

      <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.location}}</td>
        <td>{{this.date}}</td>
      </tr>

    {{/each}}

  </table>
</div>

<center><body>
  <br>
  <a href="/addActivity" class="buttons">Click Here to add an activity!</a>
</body></center>

<style>
.buttons {
  background: darkgrey ;
  color: black;
  padding: 5px 5px;
}
.buttons a:hover {
  background: white ;
  color: black;
}
</style>
