<link rel="stylesheet" type="text/css" href="/public/css/home.css">

  <h1 id= "title">{{Bread}}Find favorite food places in your area!{{Soup}}</h1>

<br>

<div>
  <table id="foodTable">
    <tr>
      <th>Food Title</th>
      <th>Rating(1-5)</th>
      <th>Location</th>
      <th>Reviews</th>
    </tr>

    {{#each all}}

      <tr>
        <td>{{this.title}}</td>
        <td>{{this.rating}}</td>
        <td>{{this.location}}</td>
        <td>{{this.reviews}}</td>
      </tr>

    {{/each}}

  </table>
</div>

<center><body>
  <br>
  <a href="/addFood" class="buttons">Click here to add your favorite restaraunt!</a>
  <a href="/removeFood" class="buttons">Click here to delete restaraunt!</a>
</body></center>

<style>
.buttons {
  background: darkgrey ;
  color: black;
  padding: 5px 5px;
}
.buttons a:hover {
  background: white ;
  color: black;
}
</style>
